<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJW_ocdK565SsEOrHIlZXGXkpoJ0hhqtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>763734429560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.estheticaWebb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>esthetica-56286</string>
	<key>STORAGE_BUCKET</key>
	<string>esthetica-56286.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763734429560:ios:3e5a6529d97771c793c28d</string>
</dict>
</plist>